.cont-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/earth.jpg");
  height:73vh;
  background-repeat: no-repeat;
  background-size: cover;
}