.cont-nav{
    display: flex;
    justify-content: space-around;
    padding: 10px 0 10px 0 ;
}
.image{
    width: 300px;
    margin-left: 10px;
}
.enlaces{
    display: flex;
    align-items: center;
    gap: 20px;
}
.cont-barra{
    display:flex;
    justify-content: center;
    border-top : solid 0.5px;
    border-bottom : solid 0.5px;
    border-color: #9d9d9d;
}
.nav-home {
    margin-right: 10px;
    border-right: solid 0.5px;
    border-left: solid 0.5px;
    border-color: #9d9d9d;
    padding: 10px;
    text-decoration: none;  
}
.nav-starships {
    margin-right: 80px;
    border-right: solid 0.5px;
    border-color: #9d9d9d;    
    padding: 10px;   
    text-decoration: none;  
}